{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8"><img src="../static/img/slide2.jpg" class="d-block w-100" alt="Mascotapp"></div>
        <div class="col-md-4"><h2>Registra tu mascota gratis ¡Ahora mismo!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <a href="/registro_mascota"><button type="button" class="btn btn-outline-secondary">Registrar</button></a>
        
        </div>
      </div>
</div>

{% if usuario %}
<div class="alert alert-success" role="alert">
    <p>Inició sesión con el usuario {{ usuario }} </p>
</div>
{% endif %}

{% endblock %}